<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331298609497-9utmhjj6cat84v3qvb60kcrd2bdnfiu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331298609497-9utmhjj6cat84v3qvb60kcrd2bdnfiu7</string>
	<key>API_KEY</key>
	<string>AIzaSyDA0MpTtOpgPecWIYbGiZSqm-IMLXvI1Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>331298609497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.firebaseNoteOne</string>
	<key>PROJECT_ID</key>
	<string>fir-note-dc903</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-note-dc903.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331298609497:ios:f802f7f7d00472276d9448</string>
</dict>
</plist>